networks:
  coprocessor-network:
    name: coprocessor-network
    driver: bridge

secrets:
  operator1_bls_private_key:
    file: ./operator1_bls_private_key

services:
  operator1:
    secrets:
      - source: operator1_bls_private_key
        target: bls_private_key
    environment:
      - DB_DIRECTORY=/db
      - SNAPSHOT_DIR=/snapshots
    ports:
      - "4001:4001/udp"
      - "4001:4001/tcp"
      - "3033:3033/tcp"
    image: ghcr.io/zippiehq/cartesi-coprocessor-operator:latest
    container_name: coprocessor-operator1
    volumes:
      - ./operator1-ipfs:/data
      - ./operator1-snapshots:/snapshots
      - ./operator1-db:/db
    networks:
      - coprocessor-network
    cap_drop:
        - ALL
    healthcheck:
      test: bash -c "[ cat < /dev/null > /dev/tcp/0.0.0.0/3033 ]"
      interval: 10s
      retries: 200
      start_period: 15s